---
layout: default
title: Accueil
---
{% include slider.html %}
<section id="content">
<div class="content-wrap pt-0">
	{% include logos-technologies.html%}
	{% include section-index-services.html %}	
	{% include section-index-inscription.html %}	
	{% include index-section-works.html %}	
	{% include index-section-steps-work.html %}	
	{% include index-section-testimonials.html %}		
	{% include index-section-blogs.html %}		
</div>
</section>


{% if page.url == "/" %}
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Nouveaux articles</span></h2>
    </div>
    <div class="row">
    {% for post in site.posts %}
        {% if post.featured == true %}
            {% include featuredbox.html %}
        {% endif %}
    {% endfor %}
    </div>
</section>
{% endif %}


<section class="recent-posts">
    <div class="section-title">
        <h2><span>Articles</span></h2>
    </div>
    <div class="row listrecent">
        {% for post in paginator.posts %}
        {% include postbox.html %}
        {% endfor %}
    </div>
</section>


<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

