<footer id="footer" class="border-0 bg-white">
			<div class="container">
				<div class="footer-widgets-wrap pb-5 clearfix">
					<div class="row col-mb-50">
						<div class="col-md-8">
							<div class="widget clearfix">
								<img src="/assets/images/logo/logo-essarraj-fouad_150.png" alt="ESSARRAJ Fouad" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #DDD;">
								<p>
									
                                    Nous nous sentons extrêmement chanceux d'avoir eu la volonté  et l'opportunité <strong> d'apprendre</strong> à programmer .
                                </p>
								<div class="line line-sm"></div>

								<div class="row">
									<div class="col-lg-4 col-6 bottommargin-sm widget_links">
										<ul>
											{% for item in site.data.navigation %}
											<li>
												<a href="{{ item.link }}">{{ item.name }}</a>
											  </li>
											{% endfor %}
										</ul>
									</div>

									<div class="col-lg-4 col-6 bottommargin-sm widget_links">
										<ul>
											<li><a href="#">..</a></li>
											<li><a href="#">..</a></li>
										</ul>
									</div>

									<div class="col-lg-4">
										<div class="row col-mb-50">
											<div class="col-md-4 col-lg-12">
												<div class="widget clearfix" style="margin-bottom: -20px;">
													<div class="row">
														<div class="col-lg-6 bottommargin-sm">
															<div class="counter counter-small"><span data-from="1" data-to="{{site.projects | where: 'isTraining', true | size}}" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
															<h5 class="mb-0">Formations </h5>
														</div>
														<div class="col-lg-6 bottommargin-sm">
															<div class="counter counter-small"><span data-from="1" data-to="{{site.projects | size}}" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
															<h5 class="mb-0">Projets</h5>
														</div>
														<div class="col-lg-6 bottommargin-sm">
															<div class="counter counter-small"><span data-from="1" data-to="{{site.services | size}}" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
															<h5 class="mb-0">Services</h5>
														</div>
													</div>
					
												</div>
											</div>
											
										</div>
									</div>
								</div>

							</div>

						</div>

						<div class="col-md-4">
							<div class="widget clearfix">

								<div class="row clearfix">
									<div class="col-12">
										<div class="feature-box fbox-plain fbox-sm align-items-center">
											<div class="fbox-icon">
												<i class="icon-envelope text-dark"></i>
											</div>
											<div class="fbox-content">
												<span class="text-muted">Call Us:</span><br>
												<h3 class="nott ls0 fw-semibold">...</h3>
											</div>
										</div>
									</div>

									<div class="col-12 mt-4">
										<div class="feature-box fbox-plain fbox-sm align-items-center">
											<div class="fbox-icon">
												<i class="icon-phone3 text-dark"></i>
											</div>
											<div class="fbox-content">
												<span class="text-muted">Email Us:</span><br>
												<h3 class="nott ls0 fw-semibold">essarraj.fouad@gmail.com</h3>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="widget subscribe-widget clearfix">
								<h5>
									<strong>Abonnez-vous</strong>  à ma newsletter pour obtenir 
									des nouvelles importantes et des offres incroyables :
								</h5>
								<div class="widget-subscribe-form-result"></div>
								<form id="widget-subscribe-form" action="#" method="post" class="mb-0">
									<div class="input-group mx-auto">
										<div class="input-group-text bg-transparent"><i class="icon-email2"></i></div>
										<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
										<button class="btn btn-success button button-color nott ls0 m-0" type="submit">Subscribe</button>
									</div>
								</form>
							</div>

							<div class="widget">

								<div class="row col-mb-30">
									<div class="col-lg-6 col-md-12 col-6">
										<a href="https://www.facebook.com/essarraj.fouad" target="_blank" class="social-icon si-dark si-colored si-facebook mb-0" style="margin-right: 10px;">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>
										<a href="https://www.facebook.com/essarraj.fouad" target="_blank" class="text-dark"><small style="display: block; margin-top: 3px;"><strong>Aimez-moi</strong><br>sur Facebook</small></a>
									</div>
									<div class="col-lg-6 col-md-12 col-6">
										<a href="https://www.youtube.com/user/FormateurEssarraj" target="_blank" class="social-icon si-dark si-colored si-youtube mb-0" style="margin-right: 10px;">
											<i class="icon-youtube"></i>
											<i class="icon-youtube"></i>
										</a>
										<a href="https://www.youtube.com/user/FormateurEssarraj" target="_blank" class="text-dark"><small style="display: block; margin-top: 3px;"><strong>Abonnez-vous  </strong><br> à ma chaîne</small></a>
									</div>
									<div class="col-lg-6 col-md-12 col-6">
										<a href="https://linkedin.com/in/essarraj-fouad" target="_blank" class="social-icon si-dark si-colored si-linkedin mb-0" style="margin-right: 10px;">
											<i class="icon-linkedin"></i>
											<i class="icon-linkedin"></i>
										</a>
										<a href="https://linkedin.com/in/essarraj-fouad" target="_blank" class="text-dark"><small style="display: block; margin-top: 3px;"><strong>Suivez-moi </strong><br>sur LinkedIn</small></a>
									</div>
								</div>
								
								 

							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>


			<div id="copyrights" style="background: url('/assets/images/hero/footer.svg') no-repeat top center; background-size: cover; padding-top: 70px;">
				<div class="container clearfix">

					<div class="row justify-content-between col-mb-30">
						<div class="col-12 col-lg-auto text-center text-lg-start">
							Tous droits réservés par ESSARRAJ Fouad.<br>
						</div>

						<div class="col-12 col-lg-auto text-center text-lg-end">
							<div class="copyrights-menu copyright-links clearfix">
								 
							 


								{% assign num = 4 %}
								{% assign i = 1 %}
								{% for item in site.data.navigation %}
								<a href="{{ item.link }}">{{ item.name }}</a>
								{% if i < site.data.navigation.size  %}
								/ {{i}} -  {{site.data.navigation.size}}
								{% endif %}
								{%  increment  i  %}
								{% endfor %}

							 


							</div>
						</div>
					</div>

				</div>
			</div>
</footer>

 