<div class="container clearfix py-5">
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="feature-box fbox-center border-0">
                <div class="fbox-icon">
                    <a href="#"><img src="/assets/images/icons/research.svg" alt="Feature Icon" class="bg-transparent rounded-0"></a>
                </div>
                <div class="fbox-content">
                    <h3 class="nott ls0">1. Étude de vos besoins</h3>
                    <p>Je commence mes services par une étude de vos besoin réels 
                        afin de vous proposer le service adéquate à votre problème</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="feature-box fbox-center border-0">
                <div class="fbox-icon">
                    <a href="#"><img src="/assets/images/icons/optimizing.svg" alt="Feature Icon" class="bg-transparent rounded-0"></a>
                </div>
                <div class="fbox-content">
                    <h3 class="nott ls0">2. Réalisation</h3>
                    <p>Pendant la phase de la réalisation nous seront en communication chaque jour pour voir en temps réel l'avancement de votre service .</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="feature-box fbox-center border-0">
                <div class="fbox-icon">
                    <a href="#"><img src="/assets/images/icons/result.svg" alt="Feature Icon" class="bg-transparent rounded-0"></a>
                </div>
                <div class="fbox-content">
                    <h3 class="nott ls0">3. Résultat et formation</h3>
                    <p>Après, la phase de réalisation, je vous aide à bien utiliser votre service sans inquiétude</p>
                </div>
            </div>
        </div>
    </div>
</div>