<div class="section mt-0" style="background: url('/assets/images/sections/3.jpg') no-repeat top center; background-size: cover; padding: 80px 0 70px;">
    <div class="container">
        <div class="heading-block border-bottom-0 center">
            <div class="badge rounded-pill badge-default">Témoignages</div>
            <h3 class="nott ls0">Ce que disent les clients</h3>
        </div>

        <div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget clearfix" data-margin="0" data-pagi="true" data-loop="true" data-center="true" data-autoplay="5000" data-items-sm="1" data-items-md="2" data-items-xl="3">

            <div class="oc-item">
                <div class="testimonial">
                    <div class="testi-image">
                        <a href="#"><img src="/assets/images/clients/hicham.jpg" alt="Customer Testimonails"></a>
                    </div>
                    <div class="testi-content">
                        <p>Un cours simple et pleine de choses représentative, merci</p>
                        <div class="testi-meta">
                            Hicham
                            <span>Les bases de la programmation et algorithme.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oc-item">
                <div class="testimonial">
                    <div class="testi-image">
                        <a href="#"><img src="/assets/images/clients/Munier.jpg" alt="Customer Testimonails"></a>
                    </div>
                    <div class="testi-content">
                        <p>Je suis très satisfait de ce cours et de ces nombreuses informations.</p>
                        <div class="testi-meta">
                            Munier
                            <span>Les bases de la programmation et algorithme.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oc-item">
                <div class="testimonial">
                    <div class="testi-image">
                        <a href="#"><img src="/assets/images/clients/Keltoum-Belkadi.jpg" alt="Customer Testimonails"></a>
                    </div>
                    <div class="testi-content">
                        <p>Ce cours s'adresse au grand débutant dans l'apprentissage de la programmation.</p>
                        <div class="testi-meta">
                            Keltoum Belkadi
                            <span>Les bases de la programmation et algorithme.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oc-item">
                <div class="testimonial">
                    <div class="testi-image">
                        <a href="#"><img src="/assets/images/clients/Nicolas-DUMONT.jpg" alt="Customer Testimonails"></a>
                    </div>
                    <div class="testi-content">
                        <p>Très bonne formation, bien expliquée pour débuter merci infiniment.</p>
                        <div class="testi-meta">
                            Nicolas DUMONT
                            <span>Les bases de la programmation et algorithme.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oc-item">
                <div class="testimonial">
                    <div class="testi-image">
                        <a href="#"><img src="/assets/images/clients/Saad-Eddine Feki.jpg" alt="Customer Testimonails"></a>
                    </div>
                    <div class="testi-content">
                        <p>Thank you very much very helpful and very well done .. greetings from Tunisia.</p>
                        <div class="testi-meta">
                            Nicolas DUMONT
                            <span>Mini projet langage C# et POO avec code source.</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>