<div class="section bg-transparent m-0 border-bottom py-5">
    <div class="container">
        <div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="100" data-loop="true" data-autoplay="5000" data-nav="false" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">
            {% for technology in site.technologies %}
            <div class="oc-item">
                
                <a href="{{technology.url}}"><img src="{{technology.logo}}" alt="technology.title"></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>