 <nav class="primary-menu with-arrows">
  <ul class="menu-container">
      {% for item in site.data.navigation %}
      {% if(item.link == "/services"%}
      <li class="menu-item mega-menu"><div class="menu-link"><div>Services</div></div>
        <div class="mega-menu-content mega-menu-style-2 px-0">
            <div class="container">
                <div class="row">

                    {% for service in site.services %}
                    <a href="{{service.url }}" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
                        <div class="feature-box">
                            <div class="fbox-icon mb-2">
                                <img src="/assets/images/icons/seo.svg" alt="Feature Icon" class="bg-transparent rounded-0">
                            </div>
                            <div class="fbox-content">
                                <h3 class="nott ls0">{{service.title}}</h3>
                                <p>{{service.description}}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}

                   
                    <a href="demo-seo-social.html" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
                        <div class="feature-box">
                            <div class="fbox-icon mb-2">
                                <img src="/assets/images/icons/social.svg" alt="Feature Icon" class="bg-transparent rounded-0">
                            </div>
                            <div class="fbox-content">
                                <h3 class="nott ls0">Social Media Marketing</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
                            </div>
                        </div>
                    </a>
                    <a href="demo-seo-adwords.html" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
                        <div class="feature-box">
                            <div class="fbox-icon mb-2">
                                <img src="/assets/images/icons/adword.svg" alt="Feature Icon" class="bg-transparent rounded-0">
                            </div>
                            <div class="fbox-content">
                                <h3 class="nott ls0">Adwords Campaign</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
                            </div>
                        </div>
                    </a>
                    <a href="demo-seo-experience.html" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
                        <div class="feature-box">
                            <div class="fbox-icon mb-2">
                                <img src="/assets/images/icons/experience.svg" alt="Feature Icon" class="bg-transparent rounded-0">
                            </div>
                            <div class="fbox-content">
                                <h3 class="nott ls0">Customer Experience</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
                            </div>
                        </div>
                    </a>
                    <a href="demo-seo-analysis.html" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
                        <div class="feature-box">
                            <div class="fbox-icon mb-2">
                                <img src="/assets/images/icons/analysis.svg" alt="Feature Icon" class="bg-transparent rounded-0">
                            </div>
                            <div class="fbox-content">
                                <h3 class="nott ls0">Digital Analysis</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
                            </div>
                        </div>
                    </a>
                    <a href="demo-seo-content-marketing.html" class="mega-menu-column sub-menu-container col-lg-4 border-bottom h-bg-light py-4">
                        <div class="feature-box">
                            <div class="fbox-icon mb-2">
                                <img src="/assets/images/icons/content_marketing.svg" alt="Feature Icon" class="bg-transparent rounded-0">
                            </div>
                            <div class="fbox-content">
                                <h3 class="nott ls0">Content Marketing</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsa!</p>
                            </div>
                        </div>
                    </a>
                    <div class="mega-menu-column sub-menu-container col-12 p-0">
                        <a href="demo-seo-about.html" class="button button-rounded button-large nott ls0 w-100 text-center m-0 rounded-0 py-3 button-light ">View All <i class="icon-line-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
      </li>
      {% else %}
      <li class="menu-item {% if page.url == item.link %}current{% endif %}">
        <a class="menu-link" href="{{ item.link }}"><div>{{ item.name }}</div></a>
      </li>
      {% endif%}
      {% endfor %}
  </ul>
</nav>