<!-- begin post -->
{% assign author = site.authors[post.author] %}


<div class="col-md-4">
    <article class="entry">
        <div class="entry-image mb-3">
            <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"></a>
        </div>
        <div class="entry-title">
            <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        </div>
        <div class="entry-meta">
            <ul>
                <li><i class="icon-line2-user"></i><a href="{{ author.web }}"> {{ author.display_name }}</a></li>
                <li><i class="icon-calendar-times1"></i><a href="#"> {{ post.date | date_to_string }}</a></li>
            </ul>
        </div>
        <div class="entry-content clearfix">
            <p>{{ post.excerpt | strip_html | truncatewords:30 }}</p>
        </div>

{% if post.rating %}
<div class="mb-2 mt-2 font-weight-normal">
{% include star_rating_postbox.html %}
</div>
{% endif %}


    </article>
</div>