{% assign author = site.authors[post.author] %}
<div class="entry col-12">
    <div class="grid-inner row g-0">
        <div class="col-md-4">
            <div class="entry-image">
                <a href="{{post.url}}" data-lightbox="image"><img src="/{{ post.image }}" alt="{{post.title}}"></a>
            </div>
        </div>
        <div class="col-md-8 ps-md-4">
            <div class="entry-title title-sm">
                <h2><a href="{{post.url}}">{{post.title}}</a></h2>
            </div>
            <div class="entry-meta">
                <ul>
                    <li><i class="icon-calendar3"></i> {{ post.date | date_to_string }}</li>
                    <li><i class="icon-folder-open"></i> 
                        {% for category in post.categories %}
                        <a href="#">{{category}}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="entry-content">
                <p>
                    {{ post.excerpt | strip_html | truncatewords:30 }}
                </p>
                <a href="{{post.url}}" class="more-link">Lire la suite</a>
            </div>
        </div>
    </div>
</div>