
<article class="portfolio-item {% if include.carousel != true %} col-md-4 col-sm-6 col-12{% endif%} {% for category in project.categories %} pf-{{ category | slugify }} {% endfor %} ">
    <div class="grid-inner">
        <div class="portfolio-image">
            <a href="portfolio-single.html">
                <img  src="/{{ project.image }}" alt="{{ project.title }}"> 
            </a>
            <div class="bg-overlay">
                <div class="bg-overlay-content dark" data-hover-animate="fadeIn">
                    {% if project.video %}
                    <a href="{{ project.video }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                    {% else %}
                    <a href="{{ site.baseurl }}/{{ project.image }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="{{ project.title }}"><i class="icon-line-plus"></i></a>
                    {% endif %}
                    <a href="{{ site.baseurl }}{{ project.url }}" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
                </div>
                <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h3>
            <span>
                {% for technology  in project.technologies %}
                {{technology}} {% if forloop.last == false %},{% endif %}
               {% endfor%}
            </span>
        </div>
    </div>
</article>