<h4>Projets liés:</h4>
{% assign projectsTitles = '' | split: ',' %}
{% assign currentProjectTitle = page.title %}
{% for category in page.categories %}
	{% for project in site.projects %}
		{% if project.categories contains category and project.title != currentProjectTitle   %}
		  {% assign projectsTitles = projectsTitles | push: project.title %}
		{% endif%}
	{% endfor %}
{% endfor %}

<div id="related-portfolio" class="owl-carousel portfolio-carousel portfolio-3 carousel-widget" data-margin="20" data-nav="false" data-autoplay="5000" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="2"  data-items-xl="3">
	{% for project in site.projects %}
		{% if projectsTitles contains project.title  %}
			{% include projectbox.html carousel=true  %}
		{% endif %}
	{% endfor %}
</div>