<div class="si-share d-flex justify-content-between align-items-center">
    <span>Partage :</span>
    <div>
        <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-partage', 'width=550,height=435');return false;" class="social-icon si-borderless si-facebook" >
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
        </a>

        <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-partage', 'width=550,height=235');return false;" class="social-icon si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
        </a>

 
        <a target="_blank" class="social-icon si-borderless si-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title }}" onclick="window.open(this.href,'linkedin-partage', 'width=550,height=435');return false;">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
        </a>
        <a target="_blank" href="http://pinterest.com/pin/create/button/?url={{ page.url | absolute_url }}&media={{ page.image | absolute_url }}&description={{ page.description  }}" onclick="window.open(this.href, 'pinterest-partage', 'width=550,height=235');return false;" class="social-icon si-borderless si-pinterest">
            <i class="icon-pinterest"></i>
            <i class="icon-pinterest"></i>
        </a>
    </div>
</div>
