<section id="slider" class="slider-element slider-parallax min-vh-60 min-vh-md-100 include-header">
    <div class="slider-inner" style="background: #FFF url('/assets/images/slides/slide-développeur.jpg') center center no-repeat; background-size: cover;">
         
        <div class="vertical-middle slider-element-fade">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-8">
                        <div class="slider-title">
                            <h2>Ingénieur et formateur web</h2>
                                                 
                            <h3 class="text-rotater mb-2" data-separator="," data-rotate="fadeIn" data-speed="3500">
                                Mes services :
                                <span class="t-rotate">
                                   Formation Front-end, 
                                   Formation Back-End,
                                   Formation Excel, 
                                   Création des sites Web, 
                                   Création des applications métier, 
                                   Création des applications Excel
                                </span> 
                            </h3>
      
                            <p> 
                                J'aide les entreprises et les entrepreneurs à développer leur système d'information. Qui leur permet d’avoir un tableau de bord clair de leurs activités commerciales.
                            </p>
                            <a href="/cv" class="button button-rounded button-large nott ls0">Mon CV</a>
                            <a href="/contact" class="button button-rounded button-large button-light text-dark bg-white border nott ls0">Contacter-moi</a>

                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

       

    </div>
</section>