/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.menu-item:hover > .menu-link,
.menu-item.current > .menu-link {
	color: var(--themecolor, #418FBF);
}


#logo img{
	
}

/* ebook  */
.ebook-page{
	font-size: 1.2rem;
}
.ebook-page ol,ul{
	padding-left: 40px;
}

 