---
layout: page
disqus: false
archive: false
post_class: post-template
---

{% include page-title.html %}

<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="row gutter-40 col-mb-80">
				<div class="postcontent col-lg-9">
					<div class="single-post mb-0">

						<div class="entry clearfix">
							<div class="entry-title">
								<h2>{{ page.title }}</h2>
							</div>
							<div class="entry-meta">
								<ul>
									<li><i class="icon-calendar3"></i> {{ page.date | date_to_string }}</li>
									<li><i class="icon-folder-open"></i> 
										{% for category in page.categories %}
										<a href="#">{{category}}</a>{% if forloop.last == false %}, {% endif %}
										{% endfor %}
									</li>

	
									{% if page.rating %}
								    <li>{% include star_rating_post.html %}</li> 
									{% endif %}

									<!-- 
										<li><a href="#"><i class="icon-comments"></i> 43 Comments</a></li> 
									-->
								</ul>
							</div>
							<div class="entry-image">
								<a href="#"><img src="/{{ page.image }}" alt="{{ page.title }}"></a>
							</div>
							<div class="entry-content mt-0">
								{{ page.content }}
								

								<div class="tagcloud clearfix bottommargin">
									{% for tag in page.tags %}
									<a href="#">{{tag}}</a>
									{% endfor %}
								</div>

								<div class="clear"></div>

								{% include share.html %}
							 

							</div>
						</div><!-- .entry end -->

 
						<!-- Post Navigation
						============================================= -->
						<div class="row justify-content-between col-mb-30 post-navigation">
							{% if page.previous.url %}
							<div class="col-12 col-md-auto text-center">
								<a href="{{page.previous.url  }}">&lArr; {{page.previous.title}}</a>
							</div>
							{% endif %}
							{% if page.next.url %}
							<div class="col-12 col-md-auto text-center">
								<a href="{{page.next.url  }}">{{page.next.title}} &rArr;</a>
							</div>
							{% endif %}
						</div><!-- .post-navigation end -->
 
						<div class="line"></div>

						{% include related-posts.html %}
					</div>

				</div>
				<!-- .postcontent end -->

				<!-- Sidebar
				============================================= -->
				<div class="sidebar col-lg-3">
					<div class="sidebar-widgets-wrap">
						<div class="widget clearfix">
							<h4>Tags</h4>s
							{% assign tags = site.tags | sort %}
							{% for tag in tags %}
							<div class="tagcloud">
								<a href="/tags/#{{ tag | first | slugify }}/">
										{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
								</a>
							</div>
							{% endfor %}
 

						</div>
					</div>
				</div>
				<!-- .sidebar end -->
			</div>

		</div>
	</div>
</section>




 



