---
layout: page
---
{% include page-title.html %}
<section id="content">
<div class="content-wrap">
<div class="container clearfix">
<div class="row gutter-40 col-mb-80">
	<div class="postcontent bothsidebar col-lg-9">
		<!-- Video or Image -->
		<div class="w-100 mb-5 portfolio-single-image">
			{%if page.video %}
			<iframe src="{{page.video}}" width="500" height="281" allow="autoplay; fullscreen" allowfullscreen></iframe>
			{% else %}
			<img src="/{{page.image}}" alt="{{page.title}}">
			{% endif %}
		</div>
		
		<div class="w-100 portfolio-single-content">
			<!-- Portfolio Single - Description -->
			<div class="fancy-title title-border">
				<h2>Information sur le projet:</h2>
			</div>
			{{content}}
		</div>

		<div class="line"></div>

		<div class="w-100 mb-5">
			<!-- Portfolio Single - Meta
			============================================= -->
			<ul class="portfolio-meta bottommargin">
				<li><span><i class="icon-user"></i>Créé par:</span> {{site.authors[page.author].name}}</li>
				<li><span><i class="icon-calendar3"></i>Terminé le:</span> {{page.date | date:"%Y-%m-%d"}}</li>
				<li><span><i class="icon-lightbulb"></i>Compétences:</span> {{page.technologies | join:','}}</li>
				{% if page.udemy %}
				<li><span><i class="icon-link"></i>Client:</span> <a href="{{page.udemy}}" target="_blank">Udemy</a></li>
				{% endif %}
			</ul>
			<!-- Portfolio Single - Meta End -->

			<!-- Portfolio Single - Share
			============================================= -->
			{% include share.html %}
		

		{% include related-portfolio-items.html %}
		

	</div>

	<div class="sidebar col-lg-3">
		<div class="sidebar-widgets-wrap">
			<div class="widget widget_links clearfix">
				{% if page.udemy %}
				<a href="{{ site.baseurl }}{{ page.udemy }}" 
				class="button button-3d button-xlarge button-rounded button-amber" target="_blank"> 
				Voir la formation</a>
				{% endif %}
			</div>
			<div class="widget clearfix">
				<h4> Titre </h4>
				<div>Description</div>
			</div>

			{% if page.book %}
			<div class="widget clearfix">
				<h4> E-book </h4>
				<div><a href="{{ site.baseurl }}{{ page.book }}" class="button">E-book gratuit</a></div>
			</div>
			{% endif %}
			{% if page.udemy %}
			<div class="widget clearfix">
				<h4> Udumy </h4>
				<div>	<a href="{{ site.baseurl }}{{ page.udemy }}" class="button">Formation en vidéo</a></div>
			</div>
			{% endif %}

		 

		</div>
	</div>
</div>
</div>
</div>
</section>

